<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div
            class="mx-auto text-center mb-5"
            style="max-width: 900px;"
        >
            <h5 class="section-title px-3">Sponsers</h5>
            <h1 class="mb-4">Our Sponsers</h1>
            <p class="mb-0">
                At FC Meadows Alappuzha, we are fortunate to be supported by dedicated partners who share our passion for football and community. Their invaluable contributions enable us to grow stronger both on and off the field.

With their support, we continue to achieve our goals, inspire our fans, and nurture talent within our family. Together, we are building a brighter future for the sport we love.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img
                                class="img-fluid w-100 rounded-top"
                                src="assets/img/meadows/sponser/g1.jpg"
                                alt="Image"
                            >
                            <div class="blog-icon">
                                <a
                                    href="#"
                                    class="my-auto"
                                >
                                    <i class="fas fa-link fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">

                        <a
                            href="https://www.instagram.com/_g__1___rose/"
                            target="_blank"
                            class="h4"
                        >
                            g.onedesign
                        </a>
                        <p class="my-3">
                            Digital creator
admin :
                            <a href="https://www.instagram.com/_g__1___rose/">_g__1___rose</a>
                            <br>
                            📞+917025605238
                            <br>
                            നിങ്ങളുടെ ചിന്തകൾക്ക്‌ ഞങ്ങൾ നിറം നൽകാം
                            <br>
                            ᴅᴇꜱɪɴɢ/ ʙʀᴀɴᴅɪɴɢ/ ᴍᴀʀᴋᴇᴛɪɴɢ/ ᴩʀɪɴᴛɪɴɢ/ ꜱɪɢɴᴀɢᴇ
                        </p>
                        <a
                            href="https://www.instagram.com/g.onedesign/"
                            class="btn btn-primary rounded-pill py-2 px-4"
                        >
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <div class="blog-img-inner">
                            <img
                                class="img-fluid w-100 rounded-top"
                                src="assets/img/meadows/sponser/g2.jpg"
                                alt="Image"
                            >
                            <div class="blog-icon">
                                <a
                                    href="https://www.instagram.com/_kinn__z/"
                                    target="_blank"
                                    class="my-auto"
                                >
                                    <i class="fas fa-link fa-2x text-white"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="blog-content border border-top-0 rounded-bottom p-4">

                        <a
                            href="#"
                            class="h4"
                        >
                            Kinz art company
                        </a>
                        <p class="my-3">
                            Artist.... !
admin :
                            <a href="https://www.instagram.com/_kinn__z/">_kinn__z</a>
                        </p>
                        <a
                            href="https://www.instagram.com/_kinn__z/"
                            class="btn btn-primary rounded-pill py-2 px-4"
                        >
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
