<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a
        href
        class="navbar-brand p-0"
    >
        <h1 class="m-0  navbar-expand-lg">
            <img
                style="mix-blend-mode: multiply; color-interpolation-filters: auto;"
                src="../../../assets/img/meadows/logo.jpg"
                alt="Logo"
            >
            FC MEADOWS ALAPPUZHA
        </h1>

    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
    >
        <span class="fa fa-bars"></span>
    </button>
    <div
        class="collapse navbar-collapse"
        id="navbarCollapse"
    >
        <div class="navbar-nav ms-auto py-0">
            <a
                href="#menuservices"
                class="nav-item nav-link active"
            >
                Home
            </a>
            <a
                href="#menuaboutus"
                class="nav-item nav-link"
            >
                About
            </a>
            <a
                href="#menuservices"
                class="nav-item nav-link"
            >
                Services
            </a>
            <a
                href="#menusponsers"
                class="nav-item nav-link"
            >
                Sponsers
            </a>
            <a
                href="#menumatches"
                class="nav-item nav-link"
            >
                Matches
            </a>
            <div class="nav-item dropdown">
                <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                >
                    Pages
                </a>
                <div class="dropdown-menu m-0">
                    <a
                        href="#menuplayers"
                        class="dropdown-item"
                    >
                        Players
                    </a>
                    <a
                        href="#menuofficials"
                        class="dropdown-item"
                    >
                        Officials
                    </a>
                    <a
                        href="#menuowners"
                        class="dropdown-item"
                    >
                        Owners
                    </a>
                </div>
            </div>
            <a
                href="#menucontactus"
                class="nav-item nav-link"
            >
                Contact
            </a>
        </div>
    </div>
</nav>
