<!-- Spinner Start -->

<!-- Topbar Start -->
<app-topbar></app-topbar>
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <app-navbar></app-navbar>

    <!-- Carousel Start -->
    <app-header-courosal></app-header-courosal>
    <!-- Carousel End -->
</div>

<!-- Navbar & Hero End -->

<!-- About Start -->
<div id="menuaboutus">
    <app-about-us></app-about-us>
</div>
<!-- About End -->

<!-- Services Start -->
<div id="menuservices">
    <app-service-offered></app-service-offered>
</div>

<!-- Services End -->
<div id="menusponsers">
    <app-sponsers></app-sponsers>
</div>

<div id="menumatches">
    <app-matches-home></app-matches-home>
</div>

<div id="menuowners">
    <app-owners></app-owners>
</div>

<div id="menuofficials">
    <app-officials></app-officials>
</div>

<div id="menuplayers">
    <app-players></app-players>
</div>

<!-- Destination Start -->
<!-- <app-destinations></app-destinations> -->
<!-- Destination End -->

<!-- Explore Tour Start -->
<!-- <app-tour></app-tour> -->
<!-- Explore Tour Start -->

<!-- Packages Start -->
<!-- <app-packages></app-packages> -->
<!-- Packages End -->

<!-- Gallery Start -->

<!-- Gallery End -->

<!-- Travel Guide Start -->
<!-- <app-teams></app-teams> -->
<!-- Travel Guide End -->

<!-- Blog Start -->
<!-- <app-blog></app-blog> -->
<!-- Blog End -->

<!-- Testimonial Start -->
<!-- <app-testimonial></app-testimonial> -->
<!-- Testimonial End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright text-body py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 text-center text-md-end mb-md-0">
                <i class="fas fa-copyright me-2"></i>
                <a
                    class="text-white"
                    href="#"
                >
                    Your Site Name
                </a>
                , All right reserved.
            </div>
            <div class="col-md-6 text-center text-md-start">
                <!-- /*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/ -->
                <!-- /*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/ -->
                <!-- /*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/ -->
                Designed By
                <a
                    class="text-white"
                    href="https://htmlcodex.com"
                >
                    HTML Codex
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a
    href="#"
    class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"
>
    <i class="fa fa-arrow-up"></i>
</a>
