<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div
                    class="h-100"
                    style="border: 50px solid; border-color: transparent #13357B transparent #13357B;"
                >
                    <img
                        src="../../../assets/img/meadows/about.jpg"
                        class="img-fluid w-100 h-100"
                        alt
                    >
                </div>
            </div>
            <div
                class="col-lg-7"
                style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);"
            >
                <h5 class="section-about-title pe-3">About Us</h5>
                <h1 class="mb-4">
                    FC
                    <span class="text-primary">Meadows</span>
                    Alappuzha
                </h1>
                <p class="mb-4">
                    At FC Meadows, football is more than a game—it's a passion that binds us as one family. With a rich legacy of teamwork, skill, and unwavering spirit, we strive to inspire, entertain, and unite. Join us as we take the field with pride, dedication, and love for the beautiful game.
                </p>
                <h5 class="section-about-title pe-3">
                    🌟 MEADOWS IS NOT A CLUB... IT'S OUR FAMILY 💞
                </h5>
                <p class="mb-4">
                    Whether on the pitch or off, we cherish every moment together as a community built on trust, respect, and shared dreams.
                </p>
                <h5 class="section-about-title pe-3">Why Choose FC Meadows?</h5>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            🏟️ Electrifying Matches
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            👕 Proud Heritage
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            ⭐ Top-Tier Talent
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            ⚽ Engaging Community
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            🏆 Chasing Glory
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            🕐 24/7 Club Spirit
                        </p>
                    </div>
                </div>
                <a
                    class="btn btn-primary rounded-pill py-3 px-5 mt-2"
                    href
                >
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>
